.video-wrapper {
    max-width: 1000px;
    height: 350px;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .2;
    object-position: 0 -840px;
    transition: 1s;
}


.gal-title{
    position: relative;
    color: white;
    text-shadow: 1px 1px 8px rgba(0,0,0,0.6);
}

.gal-title h1{
    text-align: center;
    font-weight: 100;
    font-size: 3em;
    font-family: "TabacGlamG";
    letter-spacing: 0.2em;
    transition: 1s;
}

.video-wrapper:hover .gal-title h1{
    transform: translateY(15%);
}